*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height:100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: goldenrod;

}

.wrapper{
  width: 350px;
  height: 400px;
  padding: 10px;
  border-radius: 10px;
  background-color: #485461;
  display: flex;
  flex-wrap: wrap;
}

.screen{
  height: 100px;
  width: 100%;
  margin-bottom: 10px;
  padding: 0 10px;
  background-color: black;
  color:white;
  border-radius: 10px;
  align-items: center;
  justify-content: flex-end;
}

button{
  font-size: 24px;
  cursor: pointer;
  border-radius: 10px;
  min-width: 82px;
  height: 50px; 
}

button:hover{
  background-color: goldenrod;
}

.equal{
  margin-top: -57px;
  margin-left: 164px;
  }

.equal button{
  width:163px;
}